{% extends "layout.html" %}

{% block title %}
    SELL
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" class="form-control">
                {% for symbol in symbols %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
        <!-- Allow fractional shares and limit to positive values -->
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" step="any" min="0.01" required>
        </div>
        <button class="btn btn-primary" type="submit">SELL</button>
    </form>
{% endblock %}
